@import "tailwindcss";

:root {
  --primary: #612F91;
  --accent: #FDC300;
  --card-bg: rgba(255, 255, 255, 0.1);
  --glass-border: rgba(255, 255, 255, 0.2);
}

body {
  color: white;
  background: linear-gradient(135deg, #2e0249 0%, #570a8d 50%, #1a0b2e 100%);
  min-height: 100vh;
}